<nav class="navbar navbar-expand-md navbar-light bg-light mb-3 pl-5 pr-5">
  <a class="navbar-brand" href="#"><img src="../../assets/logo.png" width="50%"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent" [ngbCollapse]="isNavbarCollapsed">
    <ul class="navbar-nav ml-auto" >
      <li class="nav-item">
        <a class="nav-link" href="#">New</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Comments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Show</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ask</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Jobs</a>
      </li>
    </ul>
  </div>
</nav>