
.card:hover .marker {
    /* width:5px; */
    height: 100%;
}

.marker {
    transition:.2s ease-out;
    width:3px;
    height:0px;
    background:#ff6600;
    position: absolute;
    bottom:0;
}

a h5 {
    color:#4f4f4f;
    display:inline-block;
}

a:hover , a:hover h5 {
    color:#ff6600;
    text-decoration: none;
}

a:visited h5 {
    color:#973c00;
    text-decoration: none;
}