
.card:hover .marker {
    height: 100%;
}

.marker {
    transition:.2s ease-out;
    width:3px;
    height:0px;
    background:#ff6600;
    position: absolute;
    bottom:0;
}

a h5 {
    color:#4f4f4f;
}

a:hover , a:hover h5 {
    color:#ff6600;
    text-decoration: none;
}

a:visited h5 {
    color:#973c00;
    text-decoration: none;
}

input#search {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

#search-btn {
    border:1px solid #ced4da;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}