<div class="container">

  <!-- <div class="card bg-light mb-3" *ngFor="let article of articles">
    <div class="card-header">
      82pts
    </div>
    <div class="card-body">
      <a href="{{article.url}}">{{article.title}}</a>
      <p class="card-text">by {{article.author}} | {{ timeSince(article.publishedAt) }} </p>
    </div>
  </div> -->

  <div class="card-group">
    <div class="col-3" *ngFor="let article of articles">
      <div class="card mb-2">
        <img class="card-img-top" src="{{article.urlToImage}}" alt="Card image cap">
        <div class="card-body">
          <a href="{{article.url}}" target="_blank"><h5 class="card-title">{{article.title}}</h5></a>
          <!-- <p class="card-text">{{article.description}}</p> -->
          <a href="{{article.url}}" target="_blank" class="btn btn-primary">Read</a>
        </div>
      </div>
    </div>
  </div>


</div>
