/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,500,600,700');


body {
    background-color: #ebe9e6;
    font-family: 'Catamaran', Helvetica, sans-serif;
    padding-top:50px;
}

.btn-primary, .page-item.active .page-link {
    background-color:#ff6600;
    border-color: #ff6600;
}

.page-link {
    color:#ff6600;
}

.page-link:hover {
    color:#c55002;
    background-color: #eff0f3;
}

.btn-primary:hover {
    background-color:#dd5800;
    border-color:#dd5800;
}

ul.pagination {
    margin-bottom:0;
}

.form-inline {
    flex-flow: row;
}

#up {
    width:35px;
    height:35px;
    border-radius: 50%;
    position:fixed;
    right:10px;
    bottom: 20px;
    background: #ff6600;
    color: white;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.247);
    transition: .2s;
    cursor: pointer;
    z-index: 100;
    font-size:20px;
}

@media only screen and (min-width: 974px) {
    #up {
        width:50px;
        height:50px;
        border-radius: 50%;
        position:fixed;
        right:50px;
        bottom: 50px;
        background: #ff6600;
        color: white;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.247);
        transition: .2s;
        cursor: pointer;
        z-index: 100;
        font-size:30px;
    }
}

#up:hover {
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.347);
}

#up:active {
    box-shadow: none;
}

#up .fas {
    
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position:fixed;
}